@charset "utf-8";
/* CSS Document */

/* for all pages*/
body{
	font-size: 1 em;
}

/* class lecture  detail page*/
.hide
{
    display: none;
}

.java_hide
{
    display: none;
}

/* modal css  for loading */
/* The Close Button */
.close {
  color: green;
  font-size: 28px;
  font-weight: bold;
  display:none;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal01:target {
    display: block;
    outline: none;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*loader*/
.loader {
  border: 10px solid magenta;
  border-radius: 50%;
  border-top: 10px solid cyan;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* css for live preview */
.live_preview_div
{
    height:46%;
    width:96%; 
    overflow: auto;
    border: 1px solid;
    margin:1%;
    padding:1%;
}